body {
    font-family: 'Montserrat' 'Arial' sans-serif;
    /* font-family: 'Montserrat'; */
    background: #F8FCFF;
    color: #25282B;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ============================================= */

.header {
    line-height: 150%
}
.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-content: center;
    align-items: center;
    gap: 0 15px;
}
.nav {
}
.nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
}
.nav__item {
    
}
.nav__link {
}
.header__logo {
    max-width: 54px;
}
.socials {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px 30px;
}
.socials__item {
}
.socials__link {
}

/* ============================================= */

.main {
}


.hero {
    padding: 120px 0;
    color: #F8FCFF;
    background: #1a2663;
}
.hero__title {
    font-size: 52px;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 30px;
}
.hero__benefits {
}
.hero__benefit {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 15px;
}
.button {
}

