.open-sans {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.line-through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

.word-spacing {
    font-weight: bold;
    word-spacing: 30px;
    color: #8b1473;
    text-shadow: 1px 1px 2px #b6286b;
    text-decoration: overline wavy;
}

.letter-spacing {
    letter-spacing: 5px;
    text-decoration: underline double 2px ;
}

div p {
    width: 300px;
    text-indent: 30px;
    text-shadow: 1px 1px 1px #7b7b7b;
    line-height: 30px;
    letter-spacing: 1px;
}

p span {
    color: #ce1010;
    text-decoration: underline dotted;
}
